.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-weight: bold;
    -fx-border-color: white;
}

.styleImportant {
    -fx-text-background-color: white;
}

.table-view {
    -fx-border-color: #ffffff;
    -fx-text-fill: white;
}

.button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: derive(-fx-base, 35%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.jfx-button {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-button {
    -fx-background-color: #000000;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.text-area {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #101216;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.fontawesome-icon-view {
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
}

.date-picker > .text-field {
    -fx-focus-color: #1e74c6;
    -fx-alignment: center;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #04070d;
}

.jfx-color-picker > .jfx-rippler > .color-box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #000000;
    -fx-border-color: white;
}

.dialog-pane{
    -fx-background-color: #000000;
}

.tooltip{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: white;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}



